
@defer { <!--Defer is when component needs to load so we show something while loading-->

  <div class="center-div" style="background: #77cdf2; height: auto; justify-content: start; gap: 50px;padding: 20px 50px;">

    @if (isLoggedIn){

      <h1 style="font-size: 80px; -webkit-text-stroke: 6px white; margin-bottom: -50px;">
        <span>W</span>
        <span>a</span>
        <span>i</span>
        <span>t</span>
        <span>i</span>
        <span>n</span>
        <span>g</span>
        <span>&nbsp;</span>
        <span>R</span>
        <span>o</span>
        <span>o</span>
        <span>m</span>
      </h1>

      @if (!isClose) {

        <h1 style="font-size: 70px; -webkit-text-stroke: 5px white;"> 
          <span style="animation: none;" [style.color]="j === 14 ? '#ea50d3':'#4cb4f0'">{{j}}J</span>&nbsp;
          <span style="animation: none;" [style.color]="h === 14 ? '#ea50d3':'#4cb4f0'">{{h}}H</span>&nbsp;
          <span style="animation: none;" [style.color]="m === 14 ? '#ea50d3':'#4cb4f0'">{{m}}M</span>&nbsp;
          <span style="animation: none;" [style.color]="s === 14 ? '#ea50d3':'#4cb4f0'">{{s}}S</span>&nbsp;
        </h1>

        <h1 style="margin-right: auto;">Some osts to pass time:</h1>

        <div class="horiz">
  
          <div class="toggle-container">
            <input type="checkbox" id="toggle1" class="toggle-input" [checked]="!listMusics[0].paused" (click)="toggleOst(0)">
            <label for="toggle1" class="toggle-label"></label>
          </div>
  
          <div class="toggle-container">
            <input type="checkbox" id="toggle2" class="toggle-input" [checked]="!listMusics[1].paused" (click)="toggleOst(1)">
            <label for="toggle2" class="toggle-label"></label>
          </div>
  
          <div class="toggle-container">
            <input type="checkbox" id="toggle3" class="toggle-input" [checked]="!listMusics[2].paused" (click)="toggleOst(2)">
            <label for="toggle3" class="toggle-label"></label>
          </div>
  
        </div>
  
        <div class="horiz">
  
          <div class="toggle-container">
            <input type="checkbox" id="toggle4" class="toggle-input" [checked]="!listMusics[3].paused" (click)="toggleOst(3)">
            <label for="toggle4" class="toggle-label"></label>
          </div>
  
          <div class="toggle-container">
            <input type="checkbox" id="toggle5" class="toggle-input" [checked]="!listMusics[4].paused" (click)="toggleOst(4)">
            <label for="toggle5" class="toggle-label"></label>
          </div>
  
          <div class="toggle-container">
            <input type="checkbox" id="toggle6" class="toggle-input" [checked]="!listMusics[5].paused" (click)="toggleOst(5)">
            <label for="toggle6" class="toggle-label"></label>
          </div>
  
        </div>
      
        <img [src]="url" (mouseover)="url='../../../assets/Images/CinaHovered.png'" (mouseleave)="url='../../../assets/Images/Cina.png'">

      }@else {

        <h1 class="animated-text">
          <span style="animation: none;" [style.color]="j === 14 ? '#ea50d3':'#4cb4f0'">{{j}}J</span>&nbsp;
          <span style="animation: none;" [style.color]="h === 14 ? '#ea50d3':'#4cb4f0'">{{h}}H</span>&nbsp;
          <span style="animation: none;" [style.color]="m === 14 ? '#ea50d3':'#4cb4f0'">{{m}}M</span>&nbsp;
          <span style="animation: none;" [style.color]="s === 14 ? '#ea50d3':'#4cb4f0'">{{s}}S</span>&nbsp;
        </h1>

        <h1 class="small-message">{{text}}</h1>

        <div style="height: 200px"></div>

      }

    }@else {
      <h1>Welcome to Cinammon's House !</h1>

      <div class="card">
        <h2>Note from Master</h2>
        <h3>
          Hello again, I am happy to see you here again !! <br/><br/>

          I am trying to build something that should leave an eternal signature that proves your worth<br/><br/>

          It's not done yet, but I can leave my progress here, I'll try to update it for each change I do nchllh<br/><br/>

          Thank you for your patience from my arrogance, but I promise the wait should be worth it nchllh<br/><br/>

          * Name of the project: ????<br/>
          * the Project was launched at: 12/03/2025.<br/>
          * Main objective: Make her the happiest person ever / Make an "Enigma" that should let her enjoy and have fun.<br/><br/>

          PROGRESS:<br/>
          * étude de préalable: DONE ! (Scariest thing I was afraid of worked, El7emdoulillah)<br/>
          * Conception: 1/760 = 1% (just started... but don't worry, it will increase nchllh)<br/><br/>
          *main progress : 5%
          
        </h3>

      </div>

      <button (click)="goToWaitRoom()">main Room</button>

      <button 
      (mouseover)="behaveWeird()" 
      (mouseleave)="didHover = false; weirdText='??????'"
      (click)="weirdClicked()">
        {{weirdText}} 
      </button>

      <img [src]="url" (mouseover)="url='../../../assets/Images/CinaHovered.png'" (mouseleave)="url='../../../assets/Images/Cina.png'">

    }
    
    
  </div>
  
} @loading (minimum 5s) {
  <div class="center-div">
    <app-loading-screen />
  </div>
}

