@defer () {

  <div #notificationBar class="notification-bar" [ngClass]="{'success': isSuccess, 'error': !isSuccess && input.trim() != '' , 'empty': !isSuccess && input.trim() === '', 'show': showNotification}">
    {{ notificationMessage }}
  </div>

  <div class="center-div" style="height: auto; justify-content: start; gap: 20px;padding: 20px 50px;">

    <h1>Welcome to Daily Enigma !!</h1>
    <h1 style="font-size: 40px;">Month Theme: {{monthPack.Theme}}</h1>
    <h1 style="font-size: 30px; color: rgb(218, 0, 218);
    -webkit-text-stroke: 2px white;">Quiz of today: {{enigma.day}}th {{monthPack.name}}</h1>
  
    <div class="card" *ngIf="enigma.specialMess != '' ">
      <h2>Special Message</h2>
      <h3>{{enigma.specialMess}}</h3>
    </div>

    <div class="card">
      <h2>{{enigma.title}}</h2>
      <h2 style="margin-right: auto; margin-top: -10px; font-size: 30px; color: #e0aaff;">Difficulty: {{enigma.difficulty}}</h2>
      <h2 style="margin-right: auto; font-size: 30px; margin-top: -10px; color: #e0aaff;">Status: {{ !enigma.solved ? "Not yet":"Solved !!"}}</h2>
      <h2 style="margin-right: auto; font-size: 30px; margin-top: -10px; color: #e0aaff;">{{ !enigma.solved ? "":"Solved at year: "+ enigma.sYear}}</h2>

      <h3>{{enigma.enigma}}</h3>

      <button *ngIf="enigma.link != '' " class="personal-button" style="margin-bottom: -10px;">Tap link</button>
      <button *ngIf="enigma.hints != [] " class="personal-button">See Hints</button>

      <input class="c-checkbox" type="checkbox" id="checkbox">
      <div #formContainer class="c-formContainer">
        <form class="c-form" action="">

          <input class="c-form__input" placeholder="You can do it !!!" type="text" [(ngModel)]="input" name="userInput" (keydown.enter)="testSubmit()">
          <label class="c-form__buttonLabel" for="checkbox">
            <button class="c-form__button" type="button" (click)="testSubmit()">Solve</button>
          </label>
          <label class="c-form__toggle" for="checkbox" data-title="Answer"></label>
        </form>
      </div> 

      <h3 style="margin-left: auto; font-size: 15px; opacity: 0.5; color: rgb(189, 189, 189);">created at: {{enigma.cDay}}</h3>

  
    </div>
  
    <button class="main-button">See my progress</button>
  
  
    <img [src]="url" (mouseover)="url='../../../assets/Images/CinaHovered.png'" (mouseleave)="url='../../../assets/Images/Cina.png'">
  
  
  </div>

}@loading (minimum 5s){

  <div class="center-div">
    <app-loading-screen/>
  </div>

}
