
@defer (){

  <div class="center-div" style="animation:none; justify-content: start;height: 120vh;">

    <h1>We're sorry...</h1>

    <h1 style="font-size: 40px;">This page is no longer available...</h1>

    <img src="../../../assets/Images/cry.png">
    
    <h1 style="font-size: 20px;margin-top: auto;  -webkit-text-stroke: 1px white;">But new surprises and gifts will surely get to you !!! :3</h1>

  </div>

}@loading (minimum 4s){

  <div class="center-div">
    <app-loading-screen />
  </div>

}
