<div class="content">

  <div class="resizing-div1" style="width: 300px; left: 160px;">
    <img src="../../../assets/Images/Moon/bigWest.png" width="100%">
  </div>

  <div class="resizing-div2" style="width: 250px; left: 285px;">
    <img src="../../../assets/Images/Moon/bigEast.png" width="100%">
  </div>

  <div class="resizing-div3" style="width: 200px; left: 240px;">
    <img src="../../../assets/Images/Moon/smallNorth.png" width="100%">
  </div>

  <div class="resizing-div4" style="width: 220px; left: 270px;">
    <img src="../../../assets/Images/Moon/Center.png" width="100%">
  </div>

  <div class="resizing-div5" style="width: 250px; left: 170px;">
    <img src="../../../assets/Images/Moon/smallWest.png" width="100%">
  </div>

  <div class="resizing-div6" style="width: 250px; left: 280px;">
    <img src="../../../assets/Images/Moon/smallEast.png" width="100%">
  </div>

  <div class="animated-text">

    <span>달</span>&nbsp;

    <span>퀘</span>
    <span>스</span>
    <span>트</span>
  </div>
  
  <div class="progress">
    <div class="progress-value"></div>
  </div>

  <h1>Tips</h1>
  <h2>{{currentTip}}</h2>

</div>