<div class="content">

  <div class="moon-container">
    <div class="resizing-div1">
      <img src="../../../assets/Images/Moon/bigWest.png" width="100%">
    </div>

    <div class="resizing-div2">
      <img src="../../../assets/Images/Moon/bigEast.png" width="100%">
    </div>

    <div class="resizing-div3">
      <img src="../../../assets/Images/Moon/smallNorth.png" width="100%">
    </div>

    <div class="resizing-div4">
      <img src="../../../assets/Images/Moon/Center.png" width="100%">
    </div>

    <div class="resizing-div5">
      <img src="../../../assets/Images/Moon/smallWest.png" width="100%">
    </div>

    <div class="resizing-div6">
      <img src="../../../assets/Images/Moon/smallEast.png" width="100%">
    </div>
  </div>

  <div class="animated-text">

    <span>달</span>
    <span>의</span>&nbsp;

    <span>메</span>
    <span>아</span>
    <span>리</span>
  </div>
  
  <div class="progress">
    <div class="progress-value"></div>
  </div>

  <h1>Tips</h1>
  <h2>{{currentTip}}</h2>

</div>