@if (isOpened) {

  @defer () {

    <div class="center-div" style="height: 100vh;">

      <p style="margin-bottom: 10px;" class="surprise">당신은 다음을 얻었습니다:</p>
      <img *ngIf="imageLoaded" [src]="imageUrl">
      <button class="surprise">키 획득</button>

    </div>

  }@loading (minimum 3s) {

    <div class="center-div" style="height: 100vh;">

    </div>
  }

} @else {

  <div class="center-div" style="height: 200vh;">

    <p>당신은 시계 안에서 딸깍거리는 소리를 들었습니다...</p>

    <div class="clock">
    
      <div>
        <div class="info date">?????</div>
        <div class="info day">?????</div>
      </div>
  
      <div class="dot"></div>
      <div>
        <div class="hour-hand" [style.transform]="'rotate(' + hDeg + 'deg)'"></div>
        <div class="minute-hand" [style.transform]="'rotate(' + mDeg + 'deg)'"></div>
        <div class="second-hand" [style.transform]="'rotate(' + sDeg + 'deg)'"></div>
      </div>
      <div>
        <span class="h3">3</span>
        <span class="h6">6</span>
        <span class="h9">9</span>
        <span class="h12">12</span>
      </div>
    
      @for (item of emptyList; track item){
        <div class='diallines' [style.transform]="'rotate(' + 6 * item + 'deg)'"></div>
      }
      
    </div>

    <button (click)="OpenClock()">클루크를 열어라</button>


  </div>

}
