@if (isStarted) {

  <div #notificationBar class="notification-bar" [ngClass]="{'success': isSuccess, 'error': !isSuccess && input.trim() != '' , 'empty': !isSuccess && input.trim() === '', 'show': showNotification}">
    {{ notificationMessage }}
  </div>

  <div class="center-div" 
  [style.background]="isDarkMode ? 'black' : 'linear-gradient(45deg, #03024b, blueviolet)'"
  style="height: auto; justify-content: start; gap: 20px;padding: 20px 0px; z-index: 2;">

    <app-starry-sky />


    <h1 class="main-title">Welcome to Moon Quest !!</h1>
    <h1 class="theme-title">Month Theme: {{monthPack.Theme}}</h1>
    <h1 class="quiz-title">Quiz of today: {{enigma.day}}th {{monthPack.name}}</h1>
  
    <div class="card special-message" *ngIf="enigma.specialMess != '' ">
      <h2>Special Message</h2>
      <h3 class="centered-text">{{enigma.specialMess}}</h3>
    </div>

    <div class="card main-card">
      <h2 class="card-title">{{enigma.title}}</h2>
      <h2 class="card-info">Difficulty: {{enigma.difficulty}}</h2>
      <h2 class="card-info">Status: {{ !enigma.solved ? "Not yet solved":"Solved !!"}}</h2>
      <h2 class="card-info">{{ !enigma.solved ? "":"Solved at year: "+ enigma.sYear}}</h2>

      <h3 class="description-title">Description</h3>

      <h3 class="description-text">{{enigma.enigma}}</h3>

      <button *ngIf="enigma.link != '' "
       class="personal-button" 
       style="margin-bottom: -10px;"
       (click)="urlLink.open(enigma.link , '_blank');">
       Tap link
      </button>

      @if (enigma.hints.length > 0 && !enigma.solved) {

        <button class="personal-button" (click)="router.navigate(['home/dailyQuiz/hints'])" >See Hints</button>

      }@else{

        <h3 class="no-hints-text">no hints on this one VwV</h3>

      }


      <input class="c-checkbox" type="checkbox" id="checkbox">
      <div #formContainer class="c-formContainer">
        <form class="c-form" action="">

          <input class="c-form__input" placeholder="You can do it !!!" type="text" [(ngModel)]="input" name="userInput" (keydown.enter)="testSubmit()">
          <label class="c-form__buttonLabel" for="checkbox">
            <button class="c-form__button" type="button" (click)="testSubmit()">Solve</button>
          </label>
          <label class="c-form__toggle" for="checkbox" data-title="Answer"></label>
        </form>
      </div> 

      <h3 class="created-at-text">created at: {{enigma.cDay}}</h3>

  
    </div>
  
    <div class="button-group">
      <button class="main-button" (click)="router.navigate(['home/dailyQuiz/progress'])">Progress</button>
      <button class="main-button" (click)="router.navigate(['home'])">Home</button>
    </div>

    <h1 class="timer">
      {{h.toString().padStart(2, '0')}}:{{m.toString().padStart(2, '0')}}:{{s.toString().padStart(2, '0')}}
    </h1>
    
    <div class="decorative-images">
      <img class="deco-cina" 
        [class.neon]="isNeonCina"
        [src] = "isNeonCina? '../../../assets/Images/WhiteCinaNeon.png':'../../../assets/Images/WhiteCina.png'" 
        (click)="isNeonCina = !isNeonCina; toggleSwitch(isNeonCina)"
      >

      <img class="deco-flower" 
        [class.neon]="isNeonFlower"
        [src] = "isNeonFlower? '../../../assets/Images/FlowerNeon.png':'../../../assets/Images/Flower.png'" 
        (click)="isNeonFlower = !isNeonFlower; toggleSwitch(isNeonFlower)"
      >

      @if (percentage >= 10) {
        <img class="deco-niwa" 
          [class.neon]="isNeonNiwa"
          [src] = "isNeonNiwa? '../../../assets/Images/NiwaNeon.png':'../../../assets/Images/Niwa.png'" 
          (click)="isNeonNiwa = !isNeonNiwa; ; toggleSwitch(isNeonNiwa)"
        > 
      }

      @if (percentage >= 25) {
        <img class="deco-sun" 
          [class.neon]="isNeonSun"
          src = "../../../assets/Images/SunNeon.png"
        >
      }

      @if (percentage >= 50) {
        <img class="deco-pico" 
          [class.neon]="isNeonPico"
          [src] = "isNeonPico? '../../../assets/Images/PicoNeon.png':'../../../assets/Images/WhitePico.png'" 
          (click)="isNeonPico = !isNeonPico; ; toggleSwitch(isNeonPico)"
        >
      }

      @if (percentage >= 80) {
        <img class="deco-byul" 
          [class.neon]="isNeonByul"
          [src]="isNeonByul ? '../../../assets/Images/ShinyByul.png':'../../../assets/Images/WhiteByul.png'" 
          (click)="isNeonByul = !isNeonByul; ; toggleSwitch(isNeonByul)"
        >
      }

      @if (percentage === 100) {
        <img class="deco-bg" 
          [class.neon]="isNeonBG"
          [src]="isNeonBG ? '../../../assets/Images/BGNeon.png':'../../../assets/Images/BG.png'" 
          (click)="isNeonBG = !isNeonBG; ; toggleSwitch(isNeonBG)"
        >
      }
    </div>
  
  </div>

}@else {

  <div class="center-div">
    <app-loading-daily/>
  </div>

}
