<div class="center-div">
  <div class="content">

    <div class="animated-text">
      <span>Secret</span> &nbsp;
      <span>has</span> &nbsp;
      <span>been</span> &nbsp;
      <span>revealed!!</span> &nbsp;
    </div>

    <div class="resizing-div">
      <img src="../../../../assets/Images/CinaHovered.png" width="100%">
    </div>
    <div class="animated-text">
  
      <span>내</span>&nbsp;
      <span>가슴</span>&nbsp;
      <span>깊은</span>&nbsp;
      <span>곳에</span>&nbsp;
      <span>영원히</span>&nbsp;
      <span>햇살이</span>&nbsp;
      <span>비치네</span>&nbsp;
  
    </div>
    
  </div>
</div>
