/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap'); */

html, body {
  font-family: "Quicksand";
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  overflow-x: hidden;
  cursor: url('./assets/Images/mouse/cursor.png'), auto;
  
}

p, h1, h2, h3, h4, span{
  cursor: url('./assets/Images/mouse/input.png'), auto;
}

* {
  outline: none;
}